/.phpunit.cache
/node_modules
# /public/build
/public/hot
/public/storage
/storage/app/public/uploads
/storage/*.key
/vendor
.env
.env.local
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.phpunit.result.cache
/.fleet
/.idea
/.vscode
__MACOSX
node_modules
