@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 768px) {
  .page-content,
  main.main {
    padding: 6rem 20px;
  }
}

.terms_page h4 {
  margin-top: 20px;
}

.terms_page ul {
  list-style-type: none;
  padding-left: 0;
}

.terms_page ol {
  padding-left: 0;
}

.terms_page li {
  margin-bottom: 10px;
}

.terms_page li > ol {
  margin-top: 10px;
}

.terms_page .headings {
  margin-bottom: 20px;
}

.terms_page .heading {
  font-weight: bold;
}
